@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(./scrollbar.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  @apply bg-gray-200 text-gray-800 font-sans;
}

.mapboxgl-ctrl:last-of-type {
  display: none !important;
}

/* Team hover effects */
.team-parent {
  pointer-events: none;
}

.team-parent > * {
  pointer-events: auto;
}

.team-parent:hover > * {
  opacity: 0.75;
  transition: 1s;
}

.team-parent:hover > *:hover {
  transform: scale(1.05);
  bottom: 0;
  opacity: 1;
  z-index: 10;
}

/* Certificates title effect */
.certificates-title {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #edf2f7 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
}

.certificates-title::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
  opacity: 0.2;
}

/* Services carousel */
.services-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  perspective: 500px;
  height: 400px;
}

.service-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 100%;
  max-height: 16rem;
  position: absolute;
  background-color: white;
  transition: 2s ease;
}

.service-slide[data-order="1"] {
  left: 0vw;
  z-index: 1;
}

.service-slide[data-order="2"] {
  left: 25%;
  transform: scale(1.5);
  box-shadow: -50px 50px 75px rgba(74, 85, 104, 0.5);
  z-index: 4;
}

.service-slide[data-order="3"] {
  left: 56%;
  z-index: 3;
}

.service-slide[data-order="4"] {
  left: 81%;
  z-index: 2;
}

.service-slide:nth-child(3) {
  order: 4;
}

.service-slide:nth-child(2) {
  order: 3;
}

.service-slide:nth-child(1) {
  order: 2;
}

.service-slide:nth-child(4) {
  order: 1;
}

@media (max-width: 768px) {
  .service-slide {
    width: 40%;
    max-height: 14rem;
  }

  .service-slide[data-order="1"] {
    left: 10%;
    transform: scale(1.5);
    box-shadow: -50px 50px 75px rgba(74, 85, 104, 0.5);
    z-index: 4;
  }

  .service-slide[data-order="2"] {
    transform: unset;
    box-shadow: unset;
    left: 60%;
    z-index: 3;
  }

  .service-slide[data-order="3"] {
    left: 60%;
    z-index: 2;
    opacity: 0;
  }

  .service-slide[data-order="4"] {
    left: 0;
    z-index: 1;
    opacity: 0;
  }
}

/* Button variants */
@layer components {
  .btn {
    @apply h-fit w-fit font-semibold transition-all duration-500 rounded-sm;
  }

  .btn-primary {
    @apply btn border border-gray-700 bg-gray-700 text-gray-100 font-normal hover:bg-gray-800;
  }

  .btn-secondary {
    @apply btn border border-gray-700 bg-gray-100 text-gray-700 font-normal hover:bg-gray-200;
  }

  .btn-home {
    @apply btn border border-white text-white font-normal hover:text-gray-800 hover:bg-white;
  }

  .btn-menu {
    @apply btn border border-gray-800 text-gray-800 font-normal hover:text-white hover:bg-gray-800;
  }

  .btn-lg {
    @apply px-6 py-4 text-lg leading-6;
  }

  .btn-md {
    @apply px-4 py-3 text-base leading-6;
  }

  .btn-sm {
    @apply px-3 py-2 text-sm leading-5;
  }

  .btn-xs {
    @apply px-2 py-1 text-xs leading-4;
  }

  .nav-link {
    @apply font-normal transition-all duration-500 cursor-pointer text-gray-900 hover:text-gray-500;
  }
}
